---
# tasks file for hyperv
- name: Create Gen2 VM
  when: 
    - vm_generation == 2
    - vm_state == 'present' or 'started'
  win_hyperv_guest:
    name: "{{ vm_name }}"
    state: present
    generation: "{{ vm_generation }}"
    memory: "{{ vm_memory }}"
    network_switch: "{{ vm_switch }}"
    vmpath: "{{ vmpath }}"
    osdiskpath: "{{ osdiskpath }}\\{{vm_name}}-OS.vhdx"

- name: Set CPU
  when: 
    - vm_cpu is defined
    - vm_generation == 2
    - vm_state == 'present' or 'started'
  win_shell: |
    $cpucount = (Get-VMProcessor -VMName {{ vm_name }}).Count
    if ($cpucount -ne {{ vm_cpu }}) {
      Set-VM -Name {{ vm_name }} -ProcessorCount {{ vm_cpu }}
    }