---
# tasks file for hyperv
- name: Create Gen1 VM
  when: 
    - vm_generation == 1
    - vm_state == 'present' or 'started'
    - vm_state != 'absent'
  win_hyperv_guest:
    name: "{{ vm_name }}"
    state: present
    generation: "{{ vm_generation }}"
    memory: "{{ vm_memory }}"
    network_switch: "{{ vm_switch }}"
    vmpath: "{{ vmpath }}"
    osdiskpath: "{{ osdiskpath }}\\{{ vm_name }}-OS.vhd"